#Alternate default index page
DirectoryIndex  villas-in-shahapur-shahpur-maharshtra-india.php
ErrorDocument 404 /404.php


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
# RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Now, rewrite any request to the wrong domain to use www.
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
